{% extends 'base.html' %}

{% block head %}
<style>
	video {    
    margin-top:00px;
    width: 350px;
    height: 290px;    
    background-color: #CCCCCC;
    margin-left:10px;   
    }
</style>
{% endblock %}

{% block top_menu %}
<li><a href="{% url login_app.views.loginView %}">Logout</a></li>
<li><a href="/profile/?user_id={{ user_id }}">My Profile</a></li>
<li><a href="/profile/teach/?user_id={{ user_id }}">Teach</a></li>
<li><a href="/profile/learn/?user_id={{ user_id }}">Learn</a></li>
{% endblock %}

{% block mid_content %}
<h3 style="padding-top:20px">Learning Center</h3>
<h4 style="padding-top:20px">You are Learning: {{ language_name }}</h4>

<div id="main">	
	
  <div id="livevideodivk" ><video id="sourcevid" style="background: url('{{ STATIC_URL }}cb.jpg');float:left;" autoplay></video></div>			
  <div id="remotevideodivk" ><video id="remotevid" style="background: url('{{ STATIC_URL }}cb.jpg');" autoplay ></video></div>
  <br><br>
  
  <button id="btn1" style="margin-left:200px;" type="button" onclick="startVideo();">Start video</button>
  <button id="btn2" type="button" onclick="stopVideo();">Stop video</button>
  <button id="btn3" type="button" onclick="connect();" >Connect</button>
  <button id="btn4" type="button" onclick="onHangUp();">Hang Up</button> 

  <script src="{{ STATIC_URL }}videochat.js" type="text/javascript"></script>
</div>


<div>
	<h4 style="padding-top:20px">Teacher Evaluation:</h4>
	<form action="/profile/learn/?user_id={{ user_id }}" method="post">{% csrf_token %}	
		{% for field in teacher_eval_form %}
			{{ field.label_tag }}: {{ field }} &nbsp;
			{{ field.errors }}
		{% endfor %}	
		<br><br>		
		<input type="submit" name="eval" value="Submit Teacher Evaluation and Exit" >
	</form>	
			
</div>
{% endblock %}